<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand">ICIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="users-info">User Accounts</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="blocked-users">Blocked Accounts</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="cheque-book-requests">Cheque Books Requests</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="waiting-users">Waiting Accounts</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="money-transfer-requests">Transfer Requests</a>
      </li>

      <li class="nav-item" style="float: right;" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/logout">Log Out</a>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="">Log in</a>
      </li>
  
    </ul>
    </div>
  </nav>
