<div *ngIf="isLoggedIn()">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="welcome">ICIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="transaction-history">Transaction History</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="transfer-history">Transfer History</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="cheque-book">Request Cheque book</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="transfer-funds">Transfer funds</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">User Session</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" routerLink="edit-profile">Change Profile Settings</a>
            <a class="dropdown-item" routerLink="log-out">Logout</a>
          </div>
        </li>
      </ul>
      </div>
      </nav>
</div>

<div *ngIf="!isLoggedIn()">

  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand">ICIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Log in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
      </ul>
      </div>
  </nav>
</div>